.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    margin:25px 0px;
    min-width:400px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
    border-radius: 12px 12px 0 0;
    overflow:hidden;
}
.content-table thead tr{
    background-color: rgb(54, 171, 149);
    color:white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.content-table th,td{
    padding:12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor:pointer;
    font-weight:500;
    font-family:Arial, Helvetica, sans-serif
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.content-table tbody tr:hover{
    color: rgb(23, 107, 79);
}
.content-table tbody tr.active-row {
    font-weight:bold;
    color:#009879;
}
